__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
results/.mplconfig/

*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

results/runs/
results/report/*.aux
results/report/*.log
results/report/*.out
